body {
  background-color: #c9b693;
  height: 100%;
  width: 100%;
}
#form{
  border: 2px solid black;
  height: 700px;
  width: 100%;
  
  text-align: center;
  border-radius: 29px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
#h1login{
  font-family: "Betania Patmos In", cursive;
  text-align: center;
}
#title{
  text-decoration: underline;
  text-decoration-line: underline overline;
  text-shadow: 5px 5px 10px black;
  text-align: center;
}
#massage {
  width: 95%;
  height: 400px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  box-sizing: border-box;
  /*text-decoration: underline;
  /*text-align: left;
  /*vertical-align: top;
  /*resize: none; /* optional: disable resizing */
}
#formid{
  font-size: 30px;
  font-family: "Playwrite DK Uloopet Guides", cursive;
  text-shadow: 3px 3px 5px black;
}
#massage::placeholder {
  font-style: italic;
  font-size: 1rem;
  color: gray;
  text-decoration: none;
  font-family: 'Playwrite DK Uloopet Guides', cursive;
}
#massage:focus {
  border: 2px line black;
  outline: none;
  box-shadow: rgba(0,0,0,0.1);/* remove default blue outline */
}
#namelabel {
  display: inline-block;
  width: 100px;
  font-size: 40px;/* fixed width to align inputs */
  text-align: left;  /* align text inside label */
  margin-right: 10px; /* space between label and input */
  vertical-align: middle;
  font-family: "dancing script", cursive;/* align vertically with input */
}
#emaillabel {
  display: inline-block;
  width: 100px;
  font-size: 40px;/* fixed width to align inputs */
  text-align: left;  /* align text inside label */
  margin-right: 20px; /* space between label and input */
  vertical-align: middle;
  font-family: "dancing script", cursive;
}

#name{
  width: 300px;
  /*box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  font-size: 20px;
  border: none;
 /* font-family: "dancing script", cursive;*/
  height: 30px;
  padding: 5px;
  border-radius: 20px;
}
#email{
  width: 300px;
  height: 30px;
  font-size: 20px;
  border-radius: 20px;
  padding: 5px;
  border: none;
}
#name:focus{
  outline: none;
  box-shadow:0 4px 8px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#email:focus{
  outline: none;
  box-shadow:0 4px 8px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#btn{
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: absolute;
  border: none;
  background: #40322c;
  right: 20px;
  top: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#youtube{
  border: none;
  text-align: center;
  border-radius: 20px;
  font-family: "Poppins",sans-serif;
  font-size: 30px;
}
#photo{
  position: absolute;
  left: 15px;
  top: 4px;
}













